In [23]:
# Importação de Biblioteca.
import pandas as pd

In [24]:
# Caminho do CSV.
caminho = "../../raw/gdp.csv"

In [25]:
# Ler dataset bruto.
df_bronze = pd.read_csv(caminho)

In [26]:
# Salvar CSV bronze.
df_bronze.to_csv("dados_bronze.csv", index=False)

In [27]:
# Output de sucesso.
print("Bronze criado com sucesso!")

Bronze criado com sucesso!

In [28]:
# Teste de leitura.
dataframe = pd.read_csv("dados_bronze.csv")
pd.set_option('display.max_columns', None)
print(dataframe.head(10).to_string())

               Country       2020       2021       2022       2023       2024       2025
0          Afghanistan    20136.0    14278.0    14501.0    17248.0    17248.0    17248.0
1              Albania    15271.0    18086.0    19185.0    23388.0    27259.0    28372.0
2              Algeria   164774.0   185850.0   225709.0   247789.0   264913.0   268885.0
3              Andorra     2885.0     3325.0     3376.0     3786.0     4038.0     4035.0
4               Angola    66521.0    84375.0   142442.0   109764.0   115946.0   113343.0
5  Antigua and Barbuda     1412.0     1602.0     1867.0     2006.0     2225.0     2373.0
6            Argentina   385218.0   486040.0   632318.0   645511.0   632145.0   683533.0
7              Armenia    12642.0    13879.0    19514.0    24086.0    25533.0    26258.0
8                Aruba     2486.0     2929.0     3279.0     3649.0     3952.0     4100.0
9            Australia  1362613.0  1655843.0  1725461.0  1742461.0  1796805.0  1771681.0