In [98]:
# Importação de Biblioteca.
import pandas as pd

In [99]:
# Carregar CSV Bronze.
df = pd.read_csv("../1-bronze/dados_bronze.csv")

In [100]:
# Criação de colunas de anos.
anos = ['2020','2021','2022','2023','2024','2025']

In [101]:
# Remoção de símbolos ($ e ,) e converter para float.
df[anos] = df[anos].replace(r'[\$,]', '', regex=True).astype(float)

In [102]:
# Renomeação de coluna 'Country'.
df.rename(columns={'Country': 'País'}, inplace=True)

In [103]:
# Remoção de duplicados.
df = df.drop_duplicates()

In [104]:
# Tratamento de valores nulos com interpolação (mais realista que média global).
df[anos] = df[anos].interpolate(axis=1)

In [105]:
# Normalização de colunas (snake_case).
df.columns = [col.lower().strip().replace(" ", "_") for col in df.columns]

In [106]:
# Calculo de crescimento percentual ano a ano.
for i in range(1, len(anos)):
    ano_anterior = anos[i - 1]
    ano_atual = anos[i]
    coluna_nome = f"Crescimento {ano_anterior}-{ano_atual}"
    df[coluna_nome] = ((df[ano_atual] - df[ano_anterior]) / df[ano_anterior]) * 100

In [107]:
# Calculo de crescimento médio (%).
cols_crescimento = [f"Crescimento {anos[i-1]}-{anos[i]}" for i in range(1, len(anos))]
df['Média do Crescimento'] = df[cols_crescimento].mean(axis=1)

In [108]:
# Formatação de colunas de anos em dólar.
for ano in anos:
    df[ano] = df[ano].apply(lambda x: "${:,.2f}".format(x))

In [109]:
# Formatação de crescimento anual em %.
for col in cols_crescimento:
    df[col] = df[col].apply(lambda x: f"{x:.2f}%")

In [110]:
# Formatação média em %.
df['Média do Crescimento'] = df['Média do Crescimento'].apply(lambda x: f"{x:.2f}%")

In [111]:
# Salvar em CSV Prata.
df.to_csv("dados_prata.csv", index=False)

In [112]:
# Output de sucesso.
print("Prata criado com sucesso!")

Prata criado com sucesso!

In [113]:
# Teste de leitura.
dataframe = pd.read_csv("dados_prata.csv")
pd.set_option('display.max_columns', None)
print(dataframe.head(10).to_string())

                  país           2020           2021           2022           2023           2024           2025 Crescimento 2020-2021 Crescimento 2021-2022 Crescimento 2022-2023 Crescimento 2023-2024 Crescimento 2024-2025 Média do Crescimento
0          Afghanistan     $20,136.00     $14,278.00     $14,501.00     $17,248.00     $17,248.00     $17,248.00               -29.09%                 1.56%                18.94%                 0.00%                 0.00%               -1.72%
1              Albania     $15,271.00     $18,086.00     $19,185.00     $23,388.00     $27,259.00     $28,372.00                18.43%                 6.08%                21.91%                16.55%                 4.08%               13.41%
2              Algeria    $164,774.00    $185,850.00    $225,709.00    $247,789.00    $264,913.00    $268,885.00                12.79%                21.45%                 9.78%                 6.91%                 1.50%               10.49%
3              Andorra      $2,885.00      $3,325.00      $3,376.00      $3,786.00      $4,038.00      $4,035.00                15.25%                 1.53%                12.14%                 6.66%                -0.07%                7.10%
4               Angola     $66,521.00     $84,375.00    $142,442.00    $109,764.00    $115,946.00    $113,343.00                26.84%                68.82%               -22.94%                 5.63%                -2.25%               15.22%
5  Antigua and Barbuda      $1,412.00      $1,602.00      $1,867.00      $2,006.00      $2,225.00      $2,373.00                13.46%                16.54%                 7.45%                10.92%                 6.65%               11.00%
6            Argentina    $385,218.00    $486,040.00    $632,318.00    $645,511.00    $632,145.00    $683,533.00                26.17%                30.10%                 2.09%                -2.07%                 8.13%               12.88%
7              Armenia     $12,642.00     $13,879.00     $19,514.00     $24,086.00     $25,533.00     $26,258.00                 9.78%                40.60%                23.43%                 6.01%                 2.84%               16.53%
8                Aruba      $2,486.00      $2,929.00      $3,279.00      $3,649.00      $3,952.00      $4,100.00                17.82%                11.95%                11.28%                 8.30%                 3.74%               10.62%
9            Australia  $1,362,613.00  $1,655,843.00  $1,725,461.00  $1,742,461.00  $1,796,805.00  $1,771,681.00                21.52%                 4.20%                 0.99%                 3.12%                -1.40%                5.69%